MODEL_CONFIDENCE= # Set confidence needed for model to make prediction, default = 0.7

THREAD_COUNT= # Number of threads to use for data extraction, default = 5
PROGRAM_LOG_LEVEL= # See https://download.github.io/picolog/, default = info
DETECT_AUDIO_ONLY_AFTER_MOTION

REDIS_HOST= # Optional defaults to "localhost"
REDIS_PORT= # Optional defaults to "6379"
REDIS_USERNAME= # Optional defaults to "None"
REDIS_PASSWORD= # Optional defaults to "None"